<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Tapis File Service" verbose="2" parallel="none">
  <groups>
    <run>
      <exclude name="broken"/>
      <exclude name="notReady"/>
      <exclude name="slow"/>
    </run>
  </groups>
  <test name="fileslib">
    <classes>
      <class name="edu.utexas.tacc.tapis.files.lib.dao.transfers.FileTransfersDAOTests"/>
      <class name="edu.utexas.tacc.tapis.files.lib.services.TestPermissions"/>
      <class name="edu.utexas.tacc.tapis.files.lib.clients.HTTPClientTests"/>
      <class name="edu.utexas.tacc.tapis.files.lib.utils.PathUtilsTest"/>
      <class name="edu.utexas.tacc.tapis.files.lib.utils.S3URLParserTest"/>
      <class name="edu.utexas.tacc.tapis.files.lib.services.FileOpsServiceTests"/>
      <class name="edu.utexas.tacc.tapis.files.lib.services.FileShareServiceTests"/>
      <class name="edu.utexas.tacc.tapis.files.lib.clients.SSHDataClientTests"/>
      <class name="edu.utexas.tacc.tapis.files.lib.clients.IrodsDataClientTests"/>
      <class name="edu.utexas.tacc.tapis.files.lib.clients.S3DataClientTests"/>
    </classes>
  </test>
</suite>


